.container {
    width: 150px;
    margin-top: 15%;
}

.circle {
    position: relative;
    width: 100%;
    height: 0;
    padding: 100% 0 0;
    border-radius: 50%;
    overflow: hidden;
    border: 7px solid white;
    box-shadow: 0px 3px 6px #00000029;
}

.circle img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main {
    margin-left: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5vw;
    grid-row-gap: 3vw;
}

@media only screen and (max-width: 1440px) {
    .main {
        grid-column-gap: 3vw;
    }
}

@media only screen and (max-width: 1290px) {
    .main {
        margin-left: 0%;
        grid-column-gap: 1vw;
    }
}

@media only screen and (max-width: 1100px) {
    .main {
        margin-left: 0%;
        grid-column-gap: 1vw;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 620px) {
    .main {
        margin-left: 0%;
        grid-column-gap: 1vw;
        grid-template-columns: repeat(1, 1fr);
    }
}